
:root {
  --funda-main-color: #f7a100;
  --funda-bg-color: #e6f2f7;
  --funda-footer-color: #ededed;
  --funda-accent-color: #0071B3;
  --funda-active-color: #f8c463;
  --funda-links-color: #fff;

  --scale-normal: 1em;
}

body {
  font-family: 'proxima-nova';
  background: var(--funda-main-color);
	color: var(--funda-links-color);
}

/* ==========================================================================
   Reset stuff
   ========================================================================== */
body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--funda-links-color);
}

input {
	font-size: 1em;
	border: none;
}

img {
	width: 100%;
}

/* ==========================================================================
  Tags
  ========================================================================== */
form {
	display: flex;
}

input {
	margin: var(--scale-normal);
	padding: .25em var(--scale-normal);
	border-radius: var(--scale-normal);
}

/* ==========================================================================
	Layout
  ========================================================================== */
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: var(--scale-normal);
	height: 80vh;
}

img {
	position: absolute;
	bottom: 0;
}

/* ==========================================================================
  Attributes
  ========================================================================== */
[type="text"] {
	font-size: 1em;
	line-height: 2;
	padding: .25em;
	flex: 1;
}

[type="submit"] {
	background-color: var(--funda-accent-color);
	color: white;
}

/* ==========================================================================
  Navigation
  ========================================================================== */
nav {
  background: var(--funda-main-color);
  color: var(--funda-links-color);
}

nav h1 {
  margin: 0;
  padding: var(--scale-normal);
}

nav ul {
  display: flex;
  justify-content: space-between;
  background: var(--funda-accent-color);
  padding: var(--scale-normal);
}

/* ==========================================================================
  List styles
  ========================================================================== */
.list {
	display: flex;
	flex-direction: column;
}
