/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  --funda-main-color: #f7a100;
  --funda-bg-color: #e6f2f7;
  --funda-footer-color: #ededed;
  --funda-accent-color: #0071b3;
  --funda-active-color: #f8c463;
  --funda-links-color: #fff;

  --scale-normal: 1em;
}

body {
  font-family: 'proxima-nova';
  background: var(--funda-main-color);
}

/* ==========================================================================
   Reset
   ========================================================================== */
input, label {
	font-size: var(--scale-normal);
}

/* ==========================================================================
   Navigation
   ========================================================================== */
form {
	display: flex;
	flex-direction: column;
}

fieldset {
	display: block;
}

[disabled] {
	display: none;
}
