/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  --funda-main-color: #f7a100;
  --funda-bg-color: #e6f2f7;
  --funda-footer-color: #ededed;
  --funda-accent-color: #0071b3;
  --funda-active-color: #f8c463;

	--funda-font-color: #53241B;
  --funda-links-color: #fff;
	--funda-gradient: linear-gradient(to top, rgb(230, 242, 247) 0%, rgb(230, 242, 247) 60%, rgb(255, 255, 255) 90%);

  --scale-normal: 1em;
}

html {
	font-family: sans-serif;
}

body {
  font-family: sans-serif;
	background-image: var(--funda-bg-color);
	box-sizing: border-box;
	color: var(--funda-font-color);
	box-sizing: border-box;
}


/* ==========================================================================
   Reset
   ========================================================================== */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

input, label {
	font-size: var(--scale-normal);
	border: none;
}

fieldset {
	border: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

/* ==========================================================================
   Layout
   ========================================================================== */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: absolute;
	width: 100vw;
}

fieldset {
	display: block;
	text-align: center;
}

[disabled] {
	display: none;
}

.flex {
	display: flex;
	flex-direction: column;
}

/* ==========================================================================
   Tags
   ========================================================================== */
span {
	font-weight: 700;
}

/* ==========================================================================
   Form
   ========================================================================== */

input[type="radio"] { /* Not display none */
    position: absolute;
    clip: rect(0,0,0,0);
}

input[type="text"] {
	background: none;
	border-bottom: .1em solid var(--funda-main-color);
	padding: var(--scale-normal);
	transition: 250ms ease;
}

input[type="text"]:focus {
	outline: none;
	border-bottom: .2em solid var(--funda-main-color);
}

label {
	background-color: var(--funda-accent-color);
	color: var(--funda-links-color);
	border-radius: var(--scale-normal);
	padding: .5em;
	text-align: center;
	margin: 1em;
}

/* ==========================================================================
   Header
   ========================================================================== */

nav {
	background-color: var(--funda-main-color);
	display: flex;
	align-items: center;
	padding: 1em 1em;
	position: fixed;
	top: 0;
	width: 100vw;
}

nav h1 {
	margin: 0;
}

nav > * {
	padding: 0em .5em;
}

.logo {
	width: 5em;
}

.intro {
	background-color: var(--funda-links-color);
	padding: var(--scale-normal);
	width: 80vw;
	border-bottom: .25em solid var(--funda-main-color);
	margin: 4em auto 0em;
}

header {
	background: url(./img/header_image.jpg) no-repeat center top;
	background-size: auto 12.7em;
	padding-top: 6.3em;
}

header.hidden {
	background: none;
}

.house-list {
	padding: 2em;
}

/* ==========================================================================
   Articles
   ========================================================================== */

article {
	background: var(--funda-links-color);
	margin: 2em 0em;
}

article .description {
	padding: var(--scale-normal);
}

article img {
	padding: 0;
	object-fit: cover;
	width: 100%;
	height: 10em;
}

/* ==========================================================================
   Splash screen
   ========================================================================== */
.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: calc(2 * var(--scale-normal));
	height: 100vh;
	text-align: center;
	background-image: url(img/doorzon-silhouet.svg), linear-gradient(to top, rgb(230, 242, 247) 0%, rgb(230, 242, 247) 60%, rgb(255, 255, 255) 90%);
	background-repeat: no-repeat;
	background-position: bottom center, center;
}

.emoji {
	font-size: 3em;
}

.splash a {
	background-color: var(--funda-main-color);
	padding: var(--scale-normal);
	border-radius: .25em;
	color: var(--funda-links-color);
	margin: 1em;
}

.footer_img {
	bottom: 0;
	position: absolute;
}
